:root {
  /* Primary */
  --white: #dbdbdb;
  --night: #2b2b41; /* Text */
  --sunrise: #ff6962; /* Primary call to action color */
  /* Secondary */
  --dusk: #48527b; /* "Highlight" background color */
  --sky: #051e64; /* Secondary call to action color */
  /* Tertiary */
  --cloud: #e7e7ec; /* For borders, backgrounds */
  --sand: #f9f5f0; /* For subtle micro-interactions */
  --pink: rgb(241, 228, 228);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Ubuntu';
  letter-spacing: 0.01rem;
  font-weight: 700;
  background-image: url('../images/family-styleO.jpg');
  // background-color: whitesmoke;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--sky);
}

.navbar {
  display: flex;
  width: 100vw;
  height: 2.4rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--sand);
  // background: rgb(36, 172, 77, 0.2);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0 20px;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 1rem;
  color: var(--sky);
}

.navbar img {
  width: 7rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-items: center;
}

.home-container img {
  width: 45rem;
  margin-top: 7rem;
  transition: transform 0.7s ease-out;
}

.home-container img:hover {
  transform: scale(1.1);
}

.enter h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--sky);
  padding-bottom: 5rem;
  margin-top: 15rem;
  // background-color: rgb(241, 228, 228);
}

#filtered-box {
  display: flex;
  justify-content: space-evenly;
  // overflow-x: hidden;
  // flex-direction: row;
  // flex-wrap: wrap;
  // width: 100vw;
  // position: relative;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 80vh;
  overflow-y: scroll;
  // overflow-y: hidden;
}

.meals-container::-webkit-scrollbar {
  display: none;
}

.map-container {
  position: sticky;
  width: 30rem;
  height: 35rem;

  // height: 100vh;
  // right: 0;
}

#map {
  width: 100%;
  height: 100%;
  border: 5px solid rgb(56, 56, 56);
  border-radius: 10px;
}

.meal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem 1rem;
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  box-shadow: 5px 5px 4px gray;
  // background-color: rgba(119, 221, 119, 0.1);
  background-color: var(--sand);
  text-align: center;
  border-radius: 8px;
  transition: transform 0.7s ease-out;
}

.meal-card:hover {
  transform: scale(1.1);
}

.meal-card img {
  height: 200px;
  border-radius: 10px;
}

.meal-card a {
  text-decoration: none;
  color: var(--sky);
  font-weight: 800;
  // font-size: 1.5rem;
}

.list-map-box {
  display: flex;
  align-items: flex-start;
}

#create-link {
  text-align: center;
  margin-bottom: 25px 0;
  font-size: 1em;
  padding: 0.6rem 1.5rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  // margin: 15px 0;
  justify-content: space-evenly;
  align-items: center;
  color: var(--sky);
  // background-color: rgb(241, 228, 228);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.search-container label {
  font-size: 1.5rem;
  color: var(--sky);
}

.search-container p {
  font-weight: 800;
  font-size: 30px;
  color: var(--sky);
  margin: 0 20px;
}

#filtered {
  // margin: px 0;
}

.meal-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
}

// .map-box {
// width: 50%;
// }
//
.in-box {
  display: flex;
}

.input-field {
  margin-bottom: 2rem;
  padding: 1.3rem;
}

.label-style {
  font-size: 1.4rem;
  color: var(--sky);
  font-weight: 800;
  margin-right: 15px;
}

.button-style {
  background-color: var(--sky);
  color: white;
  font-weight: 700;
  padding: 0.3rem 0.6rem;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  transition: color 0.6s ease-out;
  border: none;
}

.button-style:hover {
  color: var(--white);
}

.upload-box {
  display: flex;
  align-items: center;
}

#submit {
  padding: 20px 30px;
}

.full-container {
  display: flex;
  padding-top: 2%;
  justify-content: space-evenly;
}

.details-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: var(--sand);
  border-radius: 10px;
  // width: 60%;
}

.details-info {
}

.details-info img {
  height: 400px;
}

.details-info-box {
  background-color: var(--sand);
  // width: 400px;
  color: var(--sky);
  font-size: 20px;
  padding-left: 1rem;
}

.details-info-box > p,
h3 {
  margin-bottom: 15px;
}

.details-info-box p {
  font-size: 15px;
  // margin: 10px 0;
  color: var(--sky);
}

.img-details-box {
  background-color: var(--sand);
  width: 550px;
}

.details-box {
  display: flex;
  // width: 50rem;
}

.details-info {
  width: 50rem;
  display: flex;
  justify-content: center;
}

.details-info-box h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.map-confirm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-confirm-box form {
  margin-top: 40px;
}

.map-box {
  height: 500px;
}
#reviews-box-container {
  background-color: var(--sand);
  color: var(--sky);
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
// #reviews-box-container h2 {}
.select-style {
  font-weight: 700;
  border-radius: 4px;
  padding: 0.1rem 0.05rem;
  background-color: var(--pink);
  color: var(--sky);
}

#confirmation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#confirmation label {
  font-size: 40px;
  color: var(--sky);
  font-weight: 800;
}

.in-box input {
  border-radius: 5px;
  border: 2px solid var(--sky);
  font-weight: 500;
  font-family: Ubuntu;
  font-size: 1.2rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content {
  width: 50%;
  border: 1px solid grey;
  box-shadow: 5px 5px 4px gray;
  // background-color: rgba(119, 221, 119, 0.1);
  background-color: var(--sand);
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.login-content h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.login-content input {
  border-radius: 5px;
  border: 2px solid var(--sky);
  font-weight: 500;
  font-family: Ubuntu;
  font-size: 1.2rem;
}
