:root {
  /* Primary */
  --white: #dbdbdb;
  --night: #2b2b41;
  /* Text */
  --sunrise: #ff6962;
  /* Primary call to action color */
  /* Secondary */
  --dusk: #48527b;
  /* "Highlight" background color */
  --sky: #051e64;
  /* Secondary call to action color */
  /* Tertiary */
  --cloud: #e7e7ec;
  /* For borders, backgrounds */
  --sand: #f9f5f0;
  /* For subtle micro-interactions */
  --pink: rgb(241, 228, 228); }

* {
  margin: 0;
  padding: 0;
  font-size: 16px; }

body {
  font-family: 'Ubuntu';
  letter-spacing: 0.01rem;
  font-weight: 700;
  background-color: var(--pink); }

.wrapper {
  background-image: url("../images/family-styleO.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 15rem; }

a {
  text-decoration: none;
  color: black; }

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--sky); }

.navbar {
  display: flex;
  width: 100vw;
  height: 2.4rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--sand); }

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0 20px; }

.navbar li {
  margin: 0 10px; }

.navbar a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 1rem;
  color: var(--sky); }

.navbar img {
  width: 7rem; }

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-items: center; }

.home-container img {
  width: 45rem;
  margin-top: 15rem;
  transition: transform 0.7s ease-out; }

.home-container img:hover {
  transform: scale(1.1); }

.enter h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--sky);
  padding-bottom: 5rem;
  margin-top: 15rem; }

#filtered-box {
  display: flex;
  justify-content: space-evenly; }

.meals-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 80vh;
  overflow-y: scroll; }

.meals-container::-webkit-scrollbar {
  display: none; }

#map {
  width: 100%;
  height: 100%;
  border: 5px solid #383838;
  border-radius: 10px;
  width: 35rem;
  height: 35rem;
  margin-bottom: 2rem; }

.meal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem 1rem;
  width: 18rem;
  height: 17rem;
  border: 1px solid grey;
  box-shadow: 5px 5px 4px gray;
  background-color: var(--sand);
  text-align: center;
  border-radius: 8px;
  transition: transform 0.7s ease-out; }

.meal-card:hover {
  transform: scale(1.1); }

.meal-card img {
  height: 13rem;
  width: 18rem;
  border-radius: 10px; }

.meal-card a {
  text-decoration: none;
  color: var(--sky); }

.list-map-box {
  display: flex;
  align-items: flex-start; }

#create-link {
  text-align: center;
  margin-bottom: 25px 0;
  font-size: 1em;
  padding: 0.6rem 1.5rem; }

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--sky); }

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%; }

.search-container label {
  font-size: 1.5rem;
  color: var(--sky); }

.search-container p {
  font-weight: 800;
  font-size: 30px;
  color: var(--sky);
  margin: 0 20px; }

.meal-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%; }

.in-box {
  display: flex; }

.input-field {
  margin-bottom: 2rem;
  padding: 1.3rem; }

.label-style {
  font-size: 1.4rem;
  color: var(--sky);
  font-weight: 800;
  margin-right: 15px; }

.button-style {
  background-color: var(--sky);
  color: white;
  font-weight: 700;
  padding: 0.3rem 0.6rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  transition: color 0.6s ease-out;
  border: none; }

.button-style:hover {
  color: var(--white); }

.upload-box {
  display: flex;
  align-items: center; }

#submit {
  padding: 20px 30px; }

.full-container {
  display: flex;
  padding-top: 2%;
  justify-content: space-evenly;
  flex-direction: row;
  padding-bottom: 10%; }

.details-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: var(--sand);
  border-radius: 10px; }

.details-info img {
  height: 20rem; }

.details-info-box {
  background-color: var(--sand);
  color: var(--sky);
  font-size: 20px;
  padding-left: 1rem; }

.details-info-box > p,
h3 {
  margin-bottom: 15px; }

.details-info-box p {
  color: var(--sky); }

.img-details-box {
  background-color: var(--sand);
  width: 550px; }

.details-box {
  display: flex; }

.details-info {
  width: 50rem;
  display: flex;
  justify-content: center; }

.details-info-box h2 {
  font-size: 1.5rem;
  margin-bottom: 20px; }

.map-confirm-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.map-confirm-box form {
  margin-top: 40px; }

#reviews-box-container {
  background-color: var(--sand);
  color: var(--sky);
  width: 100%; }

.select-style {
  font-weight: 700;
  border-radius: 4px;
  padding: 0.1rem 0.05rem;
  background-color: var(--pink);
  color: var(--sky); }

#confirmation {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#confirmation label {
  font-size: 40px;
  color: var(--sky);
  font-weight: 800; }

.in-box input {
  border-radius: 5px;
  border: 2px solid var(--sky);
  font-weight: 500;
  font-family: Ubuntu;
  font-size: 1.2rem; }

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.login-content {
  width: 50%;
  border: 1px solid grey;
  box-shadow: 5px 5px 4px gray;
  background-color: var(--sand);
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px; }

.login-content h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem; }

.login-content input {
  border-radius: 5px;
  border: 2px solid var(--sky);
  font-weight: 500;
  font-family: Ubuntu;
  font-size: 1.2rem; }

@media screen and (max-width: 1024px) {
  * {
    font-size: 8px; }
  .wrapper {
    padding-bottom: 4rem; }
  .full-container {
    display: flex;
    padding-top: 2%;
    flex-direction: column-reverse;
    justify-content: space-evenly; }
  #map {
    width: 30rem;
    height: 25rem; }
  .meal-card {
    width: 25rem;
    height: 20rem; }
  .meal-card img {
    height: 16rem;
    width: 24rem;
    border-radius: 10px; }
  #filtered-box {
    flex-direction: column-reverse;
    align-items: center; }
  .meals-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .details-info {
    width: 30rem;
    flex-direction: column;
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */