<h1>Meals Near You</h1>
{{!-- {{#if mealsList}}
<h1>Meals Near You</h1>
<ul>
  {{#each mealsList}}
  <li><a href="/meals/{{_id}}">{{name}} {{price}} euro</a></li>
  {{/each}}
</ul>
{{else}}
<h1>There are no meals to display</h1>
{{/if}}

<a href="/">Home</a>
{{#if user}}
<a href="/meals/create">Create a meal</a>
{{/if}} --}}