<form action="/meals" method="POST">
  <label for="host">Host</label>
  <input type="text" name='meal' id='meal'>
  <label for='description'>Description</label>
  <input type="text" name='description' id='description'>
  <label for="price">Price</label>
  <input type="text" name='price' id='price'>
  <label for="date">Date</label>
  <input type="date" name='date' id='date'>
  <label for="time">Time</label>
  <input type="text" name='time' id='time'>
  <label for="image">Photo</label>
  <button type='submit'>Add Your Meal!</button>

</form>