<h1>Let People Know What's Cookin'</h1>
<form action="/meals" method="POST" enctype='multipart/form-data'>
  <label for="name">Meal</label>
  <input type="text" name='name' id='name'>
  <label for='description'>Description</label>
  <input type="text" name='description' id='description'>
  <label for="dishtype">DishType</label>
  <input type="text" name='dishtype' id='dishtype'>
  <label for="price">Price</label>
  <input type="text" name='price' id='price'>
  <label for="date">Date</label>
  <input type="date" name='date' id='date'>
  <label for="time">Time</label>
  <input type="text" name='time' id='time'>
  <label for="guests">Number of Guests</label>
  <input type="text" name="guests" id="guests">
  <label for="image">Image</label>
  <input type="file" name="imgPath">
  <input type="submit" value="SAVE">
  <button type='submit'>Add Your Meal!</button>
</form>