<h1>Let People Know What's Cookin'</h1>
<form action="/meals" method="POST" enctype='multipart/form-data'>
  <div class="meal-form-container">
    <label for="name" class='label-style'>Meal</label>
    <input type="text" name='name' id='name' class='input-field'>
    <label for='description' class='label-style'>Description</label>
    <input type="text" name='description' id='description' class='input-field'>
    <label for="mealtype" class='label-style'>MealType</label>
    <input type="text" name='mealtype' id='mealtype' class='input-field'>
    <label for="price" class='label-style'>Price</label>
    <input type="text" name='price' id='price' class='input-field'>
    <label for="date" class='label-style'>Date</label>
    <input type="date" name='date' id='date' class='input-field'>
    <label for="time" class='label-style'>Time</label>
    <input type="text" name='time' id='time' class='input-field'>
    <label for="address" class='label-style'>Address</label>
    <input type="text" name='address' id='address' class='input-field'>
    <label for="guests" class='label-style'>Number of Guests</label>
    <input type="text" name="guests" id="guests" class='input-field'>
    <label for="image" class='label-style'>Upload Your Image and Save It</label>
    <div class="upload-box">
      <input type="file" name="imgPath" class='input-field'>
      <input type="submit" value="SAVE" class=' button-style'>
    </div>
    <button type='submit' id='submit' class='button-style'>Add Your Meal!</button>
</form>
</div>